pre, code, samp, kbd {
    background-color: #FBFAF9;
    color: #333333;
    direction: ltr;
    text-align: left;
}
pre {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0.5em #CCCCCC inset;
    overflow: auto;
    word-wrap: normal;
    padding: 0.5em;
    margin: 0.25em 0 0.5em 0.5em;
}
ol, ul {
    list-style-type: square;
    margin-left: 5%;
    margin-right: 5%;
}
.mediacenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* edited from impress.css */
h1, h2, h3, h4, h5, h6{
    margin: 0.5em 0;
    padding: 0;
    border: 0;
    font-size: 125%;
    vertical-align: baseline;
}
